body {
    /*font-family: 'Sacramento', cursive;*/
    /*font-family: 'Caveat', cursive;*/
    box-sizing: border-box;
    background-color: #6c2d45;
    margin-left: 50px;
    margin-right: 50px;
}

.main-body {
    background-color: white;
}

.navbar-space {
    margin-left: 65px;
    margin-right: 65px;
}

.navbar-color {
    background-color: white;
    color: maroon;
}

.navbar-color a:hover {
    text-decoration: none;
    color: hotpink;
}

.navbar-color a:active {
    text-decoration: none;
    color: maroon;
}

footer {
    text-align: center;
}

.banner > img {
    display: inline-block;
    max-width: 90%;
    opacity: 0.4;
    background-color: white;

}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-family: 'Caveat', cursive;
    font-weight: bolder;
    font-size: 4em;
    display: inline;


}

.info {
    text-align: center;
    font-size: 2em;
}
